certifi==2020.4.5.1
chardet==3.0.4
clarifai==2.6.2
click==7.1.1
configparser==3.8.1
Flask==1.1.2
future==0.18.2
googleapis-common-protos==1.51.0
grpcio==1.28.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
MarkupSafe==1.1.1
protobuf==3.11.3
python-dotenv==0.13.0
requests==2.23.0
six==1.14.0
urllib3==1.26.5
Werkzeug==1.0.1
